WEEK_5/N8N/Apart Club — Python Agent.json
{
  "name": "Apart Club — Python Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apart-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "69cc97ae-a766-4b5c-acbd-81bbad3ca591",
      "name": "Webhook",
      "webhookId": "33f5945f-9cc4-41d5-a845-cb95fde810dd"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inbound leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score": "={{$json.body.score}}",
            "Reason": "={{$json.body.score_reason}}",
            "Timestamp": "={{$now}}",
            "Message ": "={{$json.body.original_message}}",
            "Trigger": "={{$json.body.trigger}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message ",
              "displayName": "Message ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger",
              "displayName": "Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -96
      ],
      "id": "8b84d109-4424-41aa-9438-83f5f5c194e6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yWuJkgLZW5OAEmkQ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "inbound",
                    "rightValue": "={{$json.body.type}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "da5ce167-73ef-47ed-923a-6b75c16fe8c2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ddc086d7-6ad2-4f51-87a2-efa243b431de",
                    "leftValue": "outbound",
                    "rightValue": "={{$json.body.type}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "49bc321f-8961-42ed-bbf6-7772f89f61a0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1481526699,
          "mode": "list",
          "cachedResultName": "Outbound Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nW0xX5NqfN29wG8X3akS2I43fCSbtOxq-59YghSEOoQ/edit#gid=1481526699"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{$json.body.company}}",
            "Domain": "={{$json.body.domain}}",
            "Email": "={{$json.body.email}}",
            "Potential": "={{$json.body.potential}}",
            "Timestamp": "=={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Potential",
              "displayName": "Potential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        112
      ],
      "id": "8239f9a5-c478-42e0-a710-b8a66a4ef5f9",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yWuJkgLZW5OAEmkQ",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dc191abd-a1fc-4fb4-9592-f7e4dfa09f86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6722e5b359be25290452eaacf73e60baa0110827e5b18a50dae7252a3b5da3a7"
  },
  "id": "ehAho68DAPmHCY4f",
  "tags": []
}