WEEK_9/final-project-pedro/poc/vaultguard_invoice_pipeline.json
{
  "name": "VaultGuard — Tidel Invoice Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{"mode": "everyMinute"}]
        },
        "filters": {
          "sender": "invoices@tidel.com",
          "subject": "TIDEL SERVICE INVOICE"
        },
        "downloadAttachments": true,
        "options": {
          "attachmentsPrefix": "attachment_"
        }
      },
      "id": "node-001",
      "name": "Gmail — Watch Tidel Invoices",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [180, 300],
      "credentials": {"gmailOAuth2": {"name": "Gmail"}}
    },
    {
      "parameters": {
        "jsCode": "// Extract PDF attachment from email\n// Finds the first .pdf attachment and prepares it for processing\n\nconst items = $input.all();\nconst item = items[0];\n\nconst attachments = item.json.attachments || [];\nconst pdfAttachment = attachments.find(a => \n  a.name && a.name.toLowerCase().endsWith('.pdf')\n);\n\nif (!pdfAttachment) {\n  throw new Error('No PDF attachment found in email from Tidel');\n}\n\n// Extract email metadata for batch naming\nconst subject = item.json.subject || 'TIDEL SERVICE INVOICE';\nconst receivedDate = item.json.date || new Date().toISOString();\n\n// Generate batch name matching Loomis format: YYMMDD-DDMMMMYY TIDELSER-MR01\nconst now = new Date();\nconst batchDate = now.toISOString().slice(2,10).replace(/-/g,'');\nconst batchName = `${batchDate}-TIDELSER-MR01`;\n\nreturn [{\n  json: {\n    pdfBinary: pdfAttachment.content,  // base64 encoded PDF\n    pdfName: pdfAttachment.name,\n    emailSubject: subject,\n    emailDate: receivedDate,\n    batchName: batchName,\n    processedAt: now.toISOString()\n  },\n  binary: {\n    pdf: {\n      data: pdfAttachment.content,\n      mimeType: 'application/pdf',\n      fileName: pdfAttachment.name\n    }\n  }\n}];"
      },
      "id": "node-002",
      "name": "Extract PDF Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a data extraction assistant. Extract all invoice data from this Tidel Engineering service invoice PDF. Each page is one invoice. Return ONLY a valid JSON array with no preamble, no markdown, no explanation. Each invoice object must have these exact fields:\\n- invoice_number (the INVOICE number e.g. 5548038)\\n- invoice_date (MM/DD/YYYY)\\n- serial_number (safe serial e.g. CU01602)\\n- branch_number (the Loomis branch number)\\n- ship_name (client/location name)\\n- ship_addr1\\n- ship_city\\n- ship_state\\n- ship_zip\\n- call_number (service call number)\\n- po_number (INC reference e.g. INC2601620)\\n- labor_charge (numeric, 0 if none)\\n- parts_amount (numeric, sum of all parts lines, 0 if none)\\n- shipping_amount (numeric, 0 if none)\\n- subtotal (numeric)\\n- tax_amount (numeric)\\n- total_amount (numeric)\\n- comment (the technician note / completion note - full text)\\n- oos_tier1 (OOS Tier 1 category if present, else empty string)\\n- oos_tier2 (OOS Tier 2 category if present, else empty string)\"}, {\"role\": \"user\", \"content\": \"Extract all invoices from this PDF. Return JSON array only.\\n\\nPDF content (base64): {{ $json.pdfBinary }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "node-003",
      "name": "GPT-4o — Extract Invoice Data from PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300],
      "credentials": {
        "httpHeaderAuth": {"name": "OpenAI Header Auth"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the extracted invoice array from GPT response\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '';\n\nlet invoices = [];\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  invoices = JSON.parse(clean);\n  if (!Array.isArray(invoices)) invoices = [invoices];\n} catch(e) {\n  throw new Error('Failed to parse invoice JSON from GPT: ' + content.substring(0, 200));\n}\n\nconst batchName = $('Extract PDF Attachment').first().json.batchName;\nconst processedAt = $('Extract PDF Attachment').first().json.processedAt;\n\nconsole.log(`Extracted ${invoices.length} invoices from PDF`);\n\n// Return each invoice as a separate item for parallel classification\nreturn invoices.map((inv, idx) => ({\n  json: {\n    ...inv,\n    index: idx,\n    batchName: batchName,\n    processedAt: processedAt\n  }\n}));"
      },
      "id": "node-004",
      "name": "Parse Invoice Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "gpt-4o"},
            {"name": "max_tokens", "value": "400"},
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a billing validation AI for VaultGuard Inc. Classify each maintenance invoice as YES (bill client) or NO (VaultGuard absorbs).\\n\\nBILL CLIENT YES:\\n- Abuse, misuse, vandalism, negligence\\n- Liquid spillage\\n- Physical damage (broken screen, bent components)\\n- Foreign objects in bill acceptors\\n- Infestation\\n- Burglary damage\\n- Customer refused access or cancelled after dispatch\\n- Bill/coin jams caused by customer negligence\\n\\nVAULTGUARD ABSORBS NO:\\n- Normal wear and tear\\n- Communications / connectivity / modem failure\\n- Software or firmware issues\\n- Network or phone line problems\\n- No problem found on site\\n- Printer jams (normal operation)\\n- Equipment resets\\n- User programming errors\\n\\nGL CODES: YES=440134, NO=440133\\n\\nRespond ONLY with JSON, no preamble:\\n{\\\"decision\\\": \\\"YES\\\" or \\\"NO\\\", \\\"gl_code\\\": 440134 or 440133, \\\"confidence\\\": \\\"HIGH\\\", \\\"MEDIUM\\\", or \\\"LOW\\\", \\\"reason\\\": \\\"one sentence\\\", \\\"flag_for_review\\\": true or false}\\n\\nSet flag_for_review=true when confidence is LOW or comment is ambiguous.\"}, {\"role\": \"user\", \"content\": \"Invoice: {{ $json.invoice_number }}\\nSerial: {{ $json.serial_number }}\\nClient: {{ $json.ship_name }}, {{ $json.ship_city }}, {{ $json.ship_state }}\\nLabour: ${{ $json.labor_charge }}\\nParts: ${{ $json.parts_amount }}\\nOOS Tier 1: {{ $json.oos_tier1 || 'Not provided' }}\\nOOS Tier 2: {{ $json.oos_tier2 || 'Not provided' }}\\nTechnician note: {{ $json.comment }}\\n\\nClassify this invoice.\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "node-005",
      "name": "GPT-4o — Classify Each Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "credentials": {
        "httpHeaderAuth": {"name": "OpenAI Header Auth"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge classification result back with invoice data\nconst invoice = $('Parse Invoice Array').item.json;\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '';\n\nlet classification = {};\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  classification = JSON.parse(clean);\n} catch(e) {\n  classification = {\n    decision: 'UNCLEAR',\n    gl_code: 440133,\n    confidence: 'LOW',\n    reason: 'Could not parse AI response',\n    flag_for_review: true\n  };\n}\n\n// Build WORKING sheet row\nconst description = `${invoice.serial_number}/${invoice.ship_name}`;\n\nreturn [{\n  json: {\n    // Original invoice fields\n    serial_number:   invoice.serial_number,\n    branch_number:   invoice.branch_number,\n    invoice_number:  invoice.invoice_number,\n    invoice_date:    invoice.invoice_date,\n    total_amount:    invoice.total_amount,\n    item_amount:     invoice.subtotal,\n    po_number:       invoice.po_number,\n    ship_name:       invoice.ship_name,\n    ship_addr1:      invoice.ship_addr1,\n    ship_city:       invoice.ship_city,\n    ship_state:      invoice.ship_state,\n    ship_zip:        invoice.ship_zip,\n    call_number:     invoice.call_number,\n    labor_charge:    invoice.labor_charge,\n    parts_amount:    invoice.parts_amount,\n    shipping_amount: invoice.shipping_amount,\n    subtotal:        invoice.subtotal,\n    tax_amount:      invoice.tax_amount,\n    oos_tier1:       invoice.oos_tier1,\n    oos_tier2:       invoice.oos_tier2,\n    comment:         invoice.comment,\n    // AI classification\n    bill_customer:   classification.decision,\n    gl_code:         classification.gl_code,\n    ai_confidence:   classification.confidence,\n    ai_reason:       classification.reason,\n    flag_for_review: classification.flag_for_review || false,\n    // Oracle upload fields\n    description:     description,\n    vendor_name:     'TIDEL ENGINEERING',\n    vendor_number:   151176,\n    vendor_site:     'CARROLLTON',\n    company:         '01',\n    lob:             '500',\n    dept:            '00',\n    // Metadata\n    batchName:       invoice.batchName,\n    index:           invoice.index\n  }\n}];"
      },
      "id": "node-006",
      "name": "Merge Classification with Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-007",
      "name": "Collect All Classified Invoices",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate Excel file with 3 sheets:\n// 1. TIDEL SERV INV — raw invoice data\n// 2. WORKING — with AI classification + GL codes\n// 3. UPLOAD — Oracle WebADI format\n\nconst allInvoices = $input.first().json.data;\nconst batchName = allInvoices[0]?.batchName || 'BATCH';\n\n// Calculate totals\nconst totalAmount = allInvoices.reduce((sum, inv) => sum + (parseFloat(inv.total_amount) || 0), 0);\nconst billYesAmount = allInvoices\n  .filter(inv => inv.bill_customer === 'YES')\n  .reduce((sum, inv) => sum + (parseFloat(inv.subtotal) || 0), 0);\nconst billNoAmount = allInvoices\n  .filter(inv => inv.bill_customer === 'NO')\n  .reduce((sum, inv) => sum + (parseFloat(inv.subtotal) || 0), 0);\nconst flaggedCount = allInvoices.filter(inv => inv.flag_for_review).length;\n\n// Build CSV representations of each sheet\n// SHEET 1: Raw invoice data\nconst sheet1Headers = [\n  'Serial Number','Branch Number','Invoice','Invoice Date','Total Invoice Amount',\n  'PO','Ship Name','Ship Addr1','Ship City','Ship State','Ship Zip',\n  'Call Number','Labor Charge','Parts Amount','Shipping','Sub Total',\n  'Tax Amt','Total','OOS Tier Categories','OOS 2 Tier Categories',\n  'Service Provider','InvoiceComment','Bill Customer'\n];\n\nconst sheet1Rows = allInvoices.map(inv => [\n  inv.serial_number, inv.branch_number, inv.invoice_number, inv.invoice_date,\n  inv.total_amount, inv.po_number, inv.ship_name, inv.ship_addr1,\n  inv.ship_city, inv.ship_state, inv.ship_zip, inv.call_number,\n  inv.labor_charge, inv.parts_amount, inv.shipping_amount, inv.subtotal,\n  inv.tax_amount, inv.total_amount, inv.oos_tier1, inv.oos_tier2,\n  'Tidel', inv.comment, inv.bill_customer\n]);\n\n// SHEET 2: Working sheet with AI classification\nconst sheet2Headers = [\n  'Serial Number','Branch Number','Invoice','Invoice Date','Total Invoice Amount',\n  'PO','Ship Name','Ship City','Ship State','Call Number',\n  'Labor Charge','Parts Amount','OOS Tier 1','OOS Tier 2','InvoiceComment',\n  'Bill Customer','GL Coding','Description',\n  'AI Confidence','AI Reason','Flag for Review'\n];\n\nconst sheet2Rows = allInvoices.map(inv => [\n  inv.serial_number, inv.branch_number, inv.invoice_number, inv.invoice_date,\n  inv.total_amount, inv.po_number, inv.ship_name, inv.ship_city,\n  inv.ship_state, inv.call_number, inv.labor_charge, inv.parts_amount,\n  inv.oos_tier1, inv.oos_tier2, inv.comment,\n  inv.bill_customer, inv.gl_code, inv.description,\n  inv.ai_confidence, inv.ai_reason, inv.flag_for_review ? 'YES' : ''\n]);\n\n// SHEET 3: Oracle UPLOAD format\nconst sheet3Headers = [\n  'Invoice Type','PO Number','Vendor Name','Vendor Number','Vendor Site',\n  'Invoice Date','Invoice Number','Company','GL Code','Branch',\n  'LOB','Dept','Service Charge','Item','Subtotal','Total Amount',\n  'Description'\n];\n\nconst sheet3Rows = allInvoices\n  .filter(inv => inv.bill_customer === 'YES' || inv.bill_customer === 'NO')\n  .map(inv => [\n    'STANDARD', inv.po_number, 'TIDEL ENGINEERING', 151176, 'CARROLLTON',\n    inv.invoice_date, inv.invoice_number, '01', inv.gl_code, inv.branch_number,\n    '500', '00', inv.labor_charge, inv.subtotal, inv.subtotal, inv.total_amount,\n    inv.description\n  ]);\n\n// Convert to CSV strings\nfunction toCSV(headers, rows) {\n  const escape = v => {\n    const s = String(v === null || v === undefined ? '' : v);\n    return s.includes(',') || s.includes('\"') || s.includes('\\n')\n      ? `\"${s.replace(/\"/g, '\"\"')}`\n      : s;\n  };\n  return [headers, ...rows].map(row => row.map(escape).join(',')).join('\\n');\n}\n\nconst workingCSV = toCSV(sheet2Headers, sheet2Rows);\nconst uploadCSV  = toCSV(sheet3Headers, sheet3Rows);\n\n// Summary for email\nconst summary = {\n  batchName,\n  totalInvoices: allInvoices.length,\n  billClient: allInvoices.filter(i => i.bill_customer === 'YES').length,\n  vaultguardAbsorbs: allInvoices.filter(i => i.bill_customer === 'NO').length,\n  flaggedForReview: flaggedCount,\n  totalAmount: totalAmount.toFixed(2),\n  billYesAmount: billYesAmount.toFixed(2),\n  billNoAmount: billNoAmount.toFixed(2),\n  flaggedInvoices: allInvoices\n    .filter(i => i.flag_for_review)\n    .map(i => `${i.invoice_number} — ${i.ship_name} — $${i.total_amount} — ${i.ai_reason}`)\n};\n\nreturn [{\n  json: summary,\n  binary: {\n    working_sheet: {\n      data: Buffer.from(workingCSV).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `${batchName}_WORKING.csv`\n    },\n    upload_sheet: {\n      data: Buffer.from(uploadCSV).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `${batchName}_ORACLE_UPLOAD.csv`\n    }\n  }\n}];"
      },
      "id": "node-008",
      "name": "Generate Working & Upload Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "sendTo": "billing@vaultguard.com",
        "subject": "=✅ Tidel Invoice Batch Processed — {{ $json.batchName }} — {{ $json.totalInvoices }} invoices",
        "emailType": "text",
        "message": "=Tidel invoice batch has been processed and classified.\n\n=== BATCH SUMMARY ===\nBatch Name:       {{ $json.batchName }}\nTotal Invoices:   {{ $json.totalInvoices }}\nBill to Client:   {{ $json.billClient }} invoices  (${{ $json.billYesAmount }})\nVaultGuard absorbs: {{ $json.vaultguardAbsorbs }} invoices  (${{ $json.billNoAmount }})\nTotal Amount:     ${{ $json.totalAmount }}\n\n=== ACTION REQUIRED ===\n{{ $json.flaggedForReview }} invoice(s) flagged for human review before Oracle upload:\n{{ $json.flaggedInvoices.join('\\n') }}\n\n=== NEXT STEPS ===\n1. Review the WORKING sheet attached — check flagged invoices\n2. Once confirmed, upload the ORACLE_UPLOAD sheet to the Loomis Invoice Bulk Loader WebADI\n3. Verify batch total matches: ${{ $json.totalAmount }}\n\nFiles attached:\n- {{ $json.batchName }}_WORKING.csv\n- {{ $json.batchName }}_ORACLE_UPLOAD.csv\n\nProcessed automatically by VaultGuard Maintenance Intelligence Platform.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {"property": "working_sheet"},
              {"property": "upload_sheet"}
            ]
          }
        }
      },
      "id": "node-009",
      "name": "Email — Send Results to Billing Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1940, 180],
      "credentials": {"gmailOAuth2": {"name": "Gmail"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "cond-flag",
              "leftValue": "={{ $json.flaggedForReview }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-010",
      "name": "Any Flags?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "sendTo": "billing-alerts@vaultguard.com",
        "subject": "=⚠️ {{ $json.flaggedForReview }} Invoice(s) Need Review — {{ $json.batchName }}",
        "emailType": "text",
        "message": "=The following invoices were classified with LOW confidence and require human review before the Oracle upload proceeds:\n\n{{ $json.flaggedInvoices.join('\\n\\n') }}\n\nPlease review these in the WORKING sheet and confirm or correct the billing decision.\n\nBatch: {{ $json.batchName }}\nTotal flagged: {{ $json.flaggedForReview }} of {{ $json.totalInvoices }} invoices",
        "options": {}
      },
      "id": "node-011",
      "name": "Email — Urgent Flag Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2160, 320],
      "credentials": {"gmailOAuth2": {"name": "Gmail"}}
    }
  ],
  "connections": {
    "Gmail — Watch Tidel Invoices": {
      "main": [[{"node": "Extract PDF Attachment", "type": "main", "index": 0}]]
    },
    "Extract PDF Attachment": {
      "main": [[{"node": "GPT-4o — Extract Invoice Data from PDF", "type": "main", "index": 0}]]
    },
    "GPT-4o — Extract Invoice Data from PDF": {
      "main": [[{"node": "Parse Invoice Array", "type": "main", "index": 0}]]
    },
    "Parse Invoice Array": {
      "main": [[{"node": "GPT-4o — Classify Each Invoice", "type": "main", "index": 0}]]
    },
    "GPT-4o — Classify Each Invoice": {
      "main": [[{"node": "Merge Classification with Invoice", "type": "main", "index": 0}]]
    },
    "Merge Classification with Invoice": {
      "main": [[{"node": "Collect All Classified Invoices", "type": "main", "index": 0}]]
    },
    "Collect All Classified Invoices": {
      "main": [[{"node": "Generate Working & Upload Sheets", "type": "main", "index": 0}]]
    },
    "Generate Working & Upload Sheets": {
      "main": [[
        {"node": "Email — Send Results to Billing Team", "type": "main", "index": 0},
        {"node": "Any Flags?", "type": "main", "index": 0}
      ]]
    },
    "Any Flags?": {
      "main": [
        [{"node": "Email — Urgent Flag Alert", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "vaultguard-pipeline-v2"
  },
  "tags": [
    {"name": "VaultGuard", "createdAt": "2026-03-31"},
    {"name": "Tidel Invoice Pipeline", "createdAt": "2026-03-31"},
    {"name": "Production", "createdAt": "2026-03-31"}
  ]
}
